/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Button/button.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/* .pending{
    background-color: #EDF1F7;
    color: #545F71;
    font-size: '13px';
    font-weight: 600;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.07)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
} */

.pending:hover{
    background-color: #054F9F;
    color: #E4E8EF !important;
    border: #01070e 1px solid !important;
}

.completed{
    background-color: #EDF1F7;
    color: #545F71;
    font-size: '13px';
    font-weight: 600;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.07)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
}

.completed:hover{
    background-color: #259660;
    color: #E4E8EF !important;
    border: #1d7b4e 1px solid !important;
}

/* .not-completed{
    background-color: #EDF1F7;
    color: #545F71;
    font-size: '13px';
    font-weight: 600;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.07)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
} */

.not-completed:hover{
    background-color: #fcfcfc !important;
    color: #535353 !important;
    border: #E4E8EF 1px solid !important;
}

.default{
    background-color: #EDF1F7;
    color: #545F71;
    font-size: '13px';
    font-weight: 600;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.07)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/CalibrationCards/customCard.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.customUserImage{
    width: '20px';
    height: '20px';
};

.customUserImageContainer{
    display: 'flex';
    align-items: 'center';
}

.customUser{
    margin-left: '5px';
    color: #403a3a;
}

.customTooltipContainer{
    display: 'flex';
    gap: '10px';
    padding: '2px';
}

.customTooltipShow{
    display: 'inline-block' !important;
    transform: 'translateX(8px)';
}

.badge{
    font-size: '11px';
    background-color: '#1A374D' !important;
    border-Radius: '50%';
}

.customCardUser{
    display: 'flex';
    align-items: 'center';
    font-size: '12px';
    color: '#7A828E';
    font-weight: 600;
    gap: '5px';
    justify-content: 'flex-start';
    padding: '0px 10px';
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/EmailCards/page.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.titleHead{
    background: #C19420;
    color: aliceblue;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 10px black;
    box-shadow: 2px 8px 12px -5px #C19420, 1px 4px 6px -6px #C19420;
}

.groupTitle{
    color: #22222B;
    font-size: 16px;
    font-weight: 700;
}

.emailCounter{
    color: #545F71;
    font-size: 13px;
    font-weight: 600;
}

.emailCardDate{
    color: #7A828E;
    font-size: 13px;
    font-weight: 600;
}

.emailCardAddButton{
    font-size: 20px;
    color: #054F9F;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/SettingsTab/SettingsTabs.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
/* SettingsTab.css */

.settings-tab-container {
  width: 100%;
}

.custom-tabs .ant-tabs-ink-bar {
  transition: transform 0.3s ease;
}

.custom-tabs .ant-tabs-tab:hover {
  color: #1890ff;
}

.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1890ff;
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: #1890ff !important;
}

.custom-tabs .ant-tabs-tab-active:hover .ant-tabs-ink-bar {
  transform: translate(0, 0) !important;
}

.custom-tabs .ant-tabs-tab:hover .ant-tabs-ink-bar {
  transform: translate(0, 100%) !important;
}

.tab-label {
  display: inline-block;
}
